{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Выбрать статью</title>
	<link rel="icon" type="image/png" href="/static/cloap/images/fav-logo.png"/>
	<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<style type="text/css">
	body {
	background-image: url(/images/icon-make-background.jpg);
	background-position: center center;
	z-index: -1;
	}

</style>

</head>
<body>
	<hr>
<div class="container-fluid h-100">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	  	<li class="breadcrumb-item active" aria-current="page">Статьи </li>
	  	<li class="breadcrumb-item" aria-current="page"><a href="/editor/new" class="link-info" style="color: black">Создать публикацию</a></li>
	  	<li class="ml-auto" aria-current="page"><a href="/" class="link-info" style="color: black">На главную |</a> <a href="/auth/logout" class="link-info" style="color: black">Выход</a></li>

	  		
	  </ol>
	  
	  
	</nav>
<div class="row mx-0 px-0 justify-content-center h-100">

	<div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10 mx-0 px-0 justify-content-center h-100 " >
	<!-- CENTRAL COLUMN -->
		<div class="row mt-5 mx-0 px-1 justify-content-start h-70 " >

			{% for art in artlist %}
			{% if art.icon %}
			
			<div class="card bg-dark text-white m-1 p-0">
  				<img class="card-img" src="{{art.icon.new_right}}" style="max-width: 20rem; max-height: 224px; min-width: 20rem; min-height: 224px;" >
  				<div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
  					<a href="/editor/{{art.trans_title}}" class="card-link stretched-link"></a>
  					<h5 class="card-title">{{art.title}}</h5>
    				<p class="card-text text-white"><small>Редактировалась: {{art.print_time_updated}}</small></p>
  				</div>
			</div>
			{% else %}
			<div class="card bg-dark text-white shadowersmall m-0 p-0">
  				<img class="card-img" src="/images/question.jpg" style="max-width: 20rem; max-height: 224px; min-width: 20rem; min-height: 224px;" >
  				<div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
  					<a href="/editor/{{art.trans_title}}" class="card-link stretched-link"></a>
  					<h5 class="card-title text-dark" >{{art.title}}</h5>
    				<p class="card-text text-white" ><small>Редактировалась: {{art.print_time_updated}}</small></p>
  				</div>
			</div>
			{% endif %}

			{% endfor %}
		</div>


	</div>




</div>
</div>



<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>
