{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Metas -->
    <title>{% block baseTitle %}{% endblock baseTitle %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Site Icons -->
    <!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />-->
    <!--<link rel="apple-touch-icon" href="images/apple-touch-icon.png">-->
    <link rel="shortcut icon" type="image/png" href="/static/cloap/images/fav-logo.gif" />

    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/static/cloap/css/bootstrap.css" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
    <link href="/static/cloap/css/font-awesome.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/static/cloap/style.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="/static/cloap/css/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="/static/cloap/css/colors.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block baseHeads %} {% endblock baseHeads %}

</head>

<body>

    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader" src="/static/cloap/images/loader.gif" alt="">
    </div><!-- end loader -->
    <!-- END LOADER -->
    {% block baseBody %} {% endblock baseBody %}

    <!-- Core JavaScript
    ================================================== -->
    <script src="/static/cloap/js/jquery.min.js"></script>
    <script src="/static/cloap/js/tether.min.js"></script>
    <script src="/static/cloap/js/bootstrap.min.js"></script>
    <script src="/static/cloap/js/custom.js"></script>

    {% block moreScripts %} {% endblock moreScripts %}

</body>
</html>
