{% extends "baseCloap.html" %}
{% block title %}Публикации {{req_date}}{% endblock title %}
{% block mainContent %}

        <div class="page-title wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-calendar-check-o bg-grey"></i> Публикации {{req_date}} <small class="hidden-xs-down hidden-sm-down">Nulla felis eros.</small></h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Главная</a></li>
                            <li class="breadcrumb-item active">Смотреть по дате {{req_date}}</li>
                        </ol>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="portfolio row">

                                {% for article in page_arts %}
                                <div class="pitem item-w1 item-h1 col-lg-3">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="{{article.get_news_url}}" title="">
                                                <img src="{{article.new_right}}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <span class="bg-grey"><a href="{{article.by_rubric_url}}">{{article.rubric.title}}</a></span>
                                            <h4><a href="{{article.get_news_url}}" title="">{{article.icon.label}}</a></h4>
                                            <small><a href="{{article.by_author_url}}" title="">{{article.author}}</a></small>
                                            <small><a href="{{article.by_updated_url}}" title="">{{article.print_time_updated}}</a></small>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                </div><!-- end col -->
                                {% endfor %}


                            </div><!-- end portfolio -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis">

                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-start">
                                        {% if page_arts.has_previous %}
                                            <li class="page-item"><a class="page-link" href="?date={{date_query}}&page={{ page_arts.previous_page_number }}">Предыдущая</a></li>
                                        {% endif %}
                                        {% if pages_left|length == 5 and pages_left.0.number > 1 %}
                                            <li class="page-item"><a class="page-link" href="?date={{date_query}}&page=1">...</a></li>
                                        {% endif %}
                                        {% for pg in pages_left %}
                                            {% if pg.number == page_arts.number %}
                                                <li class="page-item "><a class="page-link" href="?date={{date_query}}&page={{pg.number}}"><b>{{pg.number}}</b></a></li>
                                                {% else %}
                                                <li class="page-item "><a class="page-link" href="?date={{date_query}}&page={{pg.number}}">{{pg.number}}</a></li>
                                            {% endif %}
                                        {% endfor %}


                                        {% for pg in pages_right %}
                                            {% if pg.number == page_arts.number %}
                                                <li class="page-item"><a class="page-link" href="?date={{date_query}}&page={{pg.number}}"><b>{{pg.number}}</b></a></li>
                                            {% else %}
                                            <li class="page-item"><a class="page-link" href="?date={{date_query}}&page={{pg.number}}">{{pg.number}}</a></li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if pages_right|length == 5 and pages_right.4.number < page_arts.paginator.num_pages %}
                                            <li class="page-item"><a class="page-link" href="?date={{date_query}}&page={{page_arts.paginator.num_pages}}">...</a></li>
                                        {% endif %}
                                        {% if page_arts.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?date={{date_query}}&page={{ page_arts.next_page_number }}">Следующая</a>
                                            </li>
                                        {% endif %}

                                    </ul>
                                </nav>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

{% endblock mainContent %}
