{% extends "baseCloap.html" %}
{% block title %}{{ rubric.title }} | Рубрики {% endblock title %}
{% block mainContent %}

        <div class="page-title wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h3>
                            <img src="{{ rubric.logo.image.url }}" alt="" class="img-fluid" style="box-shadow: 0 0 10px rgba(0,0,0,0.5); border-radius: 70px;  margin-right: 10px; max-height: 13%; max-width: 13%">
                             {{ rubric.title }} <small class="hidden-xs-down hidden-sm-down">Nulla felis eros</small></h3>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Главная</a></li>
                            <li class="breadcrumb-item active">{{ rubric.title }}</li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">

                            <hr class="invis">

                            <div class="blog-grid-system">
                                <div class="row">

                                    {% for rubric_new in rubric_news %}
                                    <div class="col-md-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="{{ rubric_new.get_news_url }}" title="">
                                                    <img src="{{rubric_new.hot_hz}}" alt="" class="img-fluid">
                                                    <div class="hovereffect"></div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta big-meta">
                                                <h4><a href="{{ rubric_new.get_news_url }}" title="">{{ rubric_new.icon.label }}</a></h4>
                                                <p>{{ rubric_new.icon.short }}</p>
                                                <small><a href="{{rubric_new.by_rubric_url}}" title="">{{ rubric.title }}</a></small>
                                                <small><a href="{{rubric_new.by_updated_url}}" title="">{{ rubric_new.print_time_updated }}</a></small>
                                                <small><a href="{{rubric_new.by_author_url}}">{{rubric_new.author}}</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->
                                    {% endfor %}

                                </div><!-- end row -->
                            </div><!-- end blog-grid-system -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis3">

                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-start">
                                        {% for pg in pages %}
                                            <li class="page-item"><a class="page-link" href="?rubric={{rubric.codename}}&page=pg">{{ pg }}/a></li>
                                            {% if pg == 'next' %}
                                                <li class="page-item">
                                                    <a class="page-link" href="#">Next</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <h2 class="widget-title">Поиск</h2>
                                <form class="form-inline search-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Искать по сайту">
                                    </div>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </form>
                            </div><!-- end widget -->

                            {% if news %}
                            <div class="widget">
                                <h2 class="widget-title">Свежие публикации</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        {% for article in news %}
                                        <a href="{{article.get_news_url}}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{article.new_left}}" alt="" class="img-fluid float-left">
                                                <h5 class="mb-1">{{article.icon.label}}</h5>
                                                <small>{{article.print_time_updated}}</small>
                                            </div>
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->
                            {% endif %}

                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>



{% endblock mainContent %}
