{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Редактор | {{ article.title }} </title>
	<link rel="icon" type="image/png" href="/images/redlines-logo.jpg"/>
	<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style type="text/css">
	body {
	background-image: url(/images/art-make-background.jpg);
	background-position: center center;
	z-index: -1;
	}
</style>
</head>
<body>
	<hr>
<div class="container-fluid">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	  		<li class="breadcrumb-item"><a href="/editor" class="link-info" style="color: black">Статьи</a></li>
	    	<li class="breadcrumb-item active" aria-current="page">{{article.title}}</li>
	  </ol>
	</nav>
<div class="row justify-content-center">

	<div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 bg-light">
	<!-- LEFT COLUMN -->

		<p class="text-start"><b>Рубрика:</b> {{rubric.title}} </p>
		<p class="text-start"><b>Автор:</b> Фамилия, Имя </p>
		<p class="text-start"><b>Последняя правка:</b> {{article.print_time_updated}} </p>
		<p class="text-start"><b>Статус:</b> {{article.status}} </p>
		<p class="text-start"><b>Deadline:</b> Дата, время </p>

		<p class="text-start">
			<label for="artTitle" class="form-label"><b>Заголовок:</b> </label>
			<input class="form-control" type="text" id="artTitle" value="{{article.title}}">
			<small id="msgTitle" class="text-danger"></small>
		</p>

		<input type="file" name="file" id="updIcon" onchange="updIcon(this)" class="inputfile" style="width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;" />
		<p class="text-start"><b>Иконка:</b>
			{% if article.icon %}
			<div class="row m-0 p-0 justify-content-center">
				<div class="card bg-dark text-white shadowersmall m-0 p-0 ">
  					<img class="card-img" src="{{article.icon.img.url}}" alt="Card image" style="max-width: 20rem; max-height: 224px; min-width: 20rem; min-height: 224px;" >
  					<div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
  						<a href="/editor/icon?article={{article.trans_title}}" class="card-link stretched-link"></a>
  						<h5 class="card-title">{{article.icon.label}}</h5>
    					<p class="card-text"><small>Опубликовано</small></p>
  					</div>
				</div>
			</div>

			{% else %}
			<a href="/editor/icon?article={{article.trans_title}}" class="btn btn-outline-secondary btn-sm">Добавить</a>
			{% endif %}
		</p>
		<button class="btn btn-outline-dark btn-block" onclick="renderNews()">Сверстать страницу</button>
		<h><br>
		<button class="btn btn-outline-danger btn-sm btn-block" onclick="dropArticle()">Удалить страницу</button>



	</div>

	<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-5 col-xxl-6 justify-content-center">
	<!-- CENTRAL COLUMN -->
		<div id="editors" class="container float justify-content-center">
			
		</div>

		<div class="row my-5">
			<div class="col-6"><button class="btn btn-light" onclick="addEditor()">Добавить блок</button></div>
			<div class="col-6"><button class="btn btn-light" onclick="delEditor()">Удалить блок</button></div>
		</div>


	</div>

	<div id="rightCol" class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 ml-5 mr-0 bg-light text-center">
	<!-- RIGHT COLUMN -->
	
		<div id="sliderList" class="row mx-0 p-3 justify-content-center">
			{% for sl in sliders %}
			<div id="slider{{sl.0}}holder" class="card shadow bg-light" style="width: 22rem;">
				{{sl.1 | safe}}
				<div class="card-footer align-center mx-0 px-0">
					<button id="btnSlider{{sl.0}}" class="btn btn-outline-dark btn-sm mt-2 " onclick="sliderInsert(this, '{{sl.0}}', '{{article.trans_title}}')">Вставить</button>
		    		<div class="card-body"><a href="/editor/slider?article={{article.trans_title}}&spk={{sl.0}}" class="btn btn-outline-secondary btn-sm">Редактировать</a></div>
		    	</div>
		    </div>

			{% endfor %}
			
		</div>
	

		<a href="/editor/slider?article={{article.trans_title}}" class="btn btn-light border my-5" role="button">Новый слайдер</a>
			

	
	</div>


</div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


<script src="/static/js/editor/editor.js"></script>

<script src="https://cdn.jsdelivr.net/npm/editorjs-html@3.0.3/build/edjsHTML.js"></script>


<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script><!-- Image -->
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script><!-- Image -->

  
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script><!-- List -->

  <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script><!-- Quote -->
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script><!-- Code -->
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script><!-- Embed -->
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script><!-- Table -->
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script><!-- Link -->


  <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script><!-- Marker -->
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script><!-- Inline Code -->
<script src="/static/js/edjs/1/edjs.js"></script>
<script src="/static/js/tools/2/tools.js"></script>

<script>

var PARTS = new Map([]);
var EDITOR;
var ACTUAL_PART = "part0";
var ORDER = new Array();

var SLIDERS_INSERTED = new Map([]);

window.onload = function (){
	sliders_in_content = new Map([{% for sl in sliders_in_content %} [{{sl.0}}, `{{sl.1}}`], {% endfor %}]);

	editorsEl = document.getElementById("editors");
	html_blocks = new Array({% for eb in eblocks%}`{{eb.html_data | safe }}`, {% endfor %});
	raw_blocks = new Array({% for eb in eblocks%}`{{eb.data | safe}}`, {% endfor %});
	for (let n=0; n<html_blocks.length; n+=1) {
		editorsEl.innerHTML += `<div id="part${n}" class="row bg-light p-5 mb-1"><div class="col-12 m-1">${html_blocks[n]}</div></div>`;
		if (sliders_in_content.get(n)){
			let spk = sliders_in_content.get(n);
			insertInitSliders(spk, `{{article.trans_title}}`);
			SLIDERS_INSERTED.set(spk, n);
		}
	}
	for (let n=0; n<raw_blocks.length; n+=1) { PARTS.set(`part${n}`, JSON.parse(raw_blocks[n])); ORDER.push(`part${n}`);}
	if (document.getElementById(`part0`)===null){  // new article
		editorsEl.innerHTML += `<div id="part0" class="row bg-light p-5 mb-1"><div id="editorjs" class="col-12 m-1"></div></div>`;
		PARTS.set(`part0`, '');
		ORDER.push(`part0`);
		EDITOR = getEdjs(PARTS.get(`part0`), false);
	} else {
		document.getElementById(`part0`).innerHTML = `<div id="editorjs" class="col-12 m-1"></div>`
		EDITOR = getEdjs(PARTS.get(`part0`), false);
	}
	
	for (let eachPart of PARTS.keys()) {
	 if (eachPart!=`part0`) {
	 	document.getElementById(eachPart).addEventListener('click', function (e) {switchEditor(this);}, { once: true });
	 }
	}
}

/////////////////////////////////////////////
function validArtUpdClick(){
	let msgTitle = document.getElementById('msgTitle');
	msgTitle.innerHTML = '';
	let artTitle = document.getElementById(`artTitle`).value.trim();
	if (artTitle.length > 120){
		msgTitle.innerHTML = `Слишком длинное название: ${artTitle.length} знаков. Допустимо: 120.`;
		return false;
	} else if (artTitle.length===0){
		msgTitle.innerHTML = `Введите название.`;
		return false;
	}
	return true;
}

function artUpdClick(){
	if (!validArtUpdClick()){
		return;
	}
	let formData = new FormData();
	formData.append("artUpd", JSON.stringify(document.getElementById(`artTitle`).value.trim()));
	fetch("", {method: "POST", headers:{"X-CSRFToken": '{{ csrf_token }}'}, body: formData}).then((response) => {return response.json();}).then((data) => {
    location.replace(data['url']);});
}

/////////////////////////////////////////////

function insertInitSliders(pk, transTitle){
	let slider = document.getElementById(`slider${pk}`);
	let newline = `<div id='slider${pk}inserted'>${slider.outerHTML}<div class="row justify-content-center my-3"><button onclick="dropSlider('${pk}', '${transTitle}')" class="btn btn-outline-dark">Убрать</button></div></div`
	document.getElementById("editors").innerHTML += newline;
	slider.parentNode.removeChild(slider);
	sliderHolder = document.getElementById(`slider${pk}holder`);
	sliderHolder.innerHTML = '';	
}

function sliderInsert(item, pk, transTitle){
	if (Array.from(SLIDERS_INSERTED.values()).includes(ORDER.length-1)){
		return;
	}
	let slider = document.getElementById(`slider${pk}`);
	EDITOR.save().then((outputData) => {
		PARTS.set(ACTUAL_PART, outputData);
		editorToHTML(convertDataToHtml(outputData.blocks));
		var editors = document.getElementById("editors");
		
		let newline = `<div id='slider${pk}inserted'>${slider.outerHTML}<div class="row justify-content-center my-3"><button onclick="dropSlider('${pk}', '${transTitle}')" class="btn btn-outline-dark">Убрать</button></div></div`
		editors.innerHTML += newline;
		slider.parentNode.removeChild(slider);
		sliderHolder = document.getElementById(`slider${pk}holder`);
		sliderHolder.innerHTML = '';
		editorSwitcher("part0");
	 }).catch((error) => {console.log('Save failed: ', error)});
	SLIDERS_INSERTED.set(pk, ORDER.length-1);
}


function dropSlider(pk, transTitle){
	let backSlider = document.getElementById(`slider${pk}`).outerHTML;
	backSlider = `${backSlider}
					<div class="card-footer align-center  mx-0 px-0">
						<button id="btnslider${pk}" class="btn btn-outline-dark btn-sm mt-2 " onclick="sliderInsert(this, '${pk}', '${transTitle}')">Вставить</button>
		    			<div class="card-body"><a href="/editor/slider?article=${transTitle}&spk=${pk}" class="btn btn-outline-secondary btn-sm">Редактировать</a></div>	
		    		</div>`;
	sliderInserted = document.getElementById(`slider${pk}inserted`);
	EDITOR.save().then((outputData) => {
		PARTS.set(ACTUAL_PART, outputData);
		editorToHTML(convertDataToHtml(outputData.blocks));
		var editors = document.getElementById("editors");

		sliderInserted.parentNode.removeChild(sliderInserted);
		document.getElementById(`slider${pk}holder`).innerHTML = backSlider;

		editorSwitcher("part0");
	 }).catch((error) => {console.log('Save failed: ', error)});
	SLIDERS_INSERTED.delete(pk);
}

/////////////// EDITOR HANDLERS ////////////////////////////
  
function convertDataToHtml(blocks) {
      var convertedHtml = "";
      blocks.map(block => {
        
        switch (block.type) {
          case "header":
            convertedHtml += `<h${block.data.level}>${block.data.text}</h${block.data.level}>`;
            break;
          case "embed":
            convertedHtml += `<div class="row justify-content-center"><iframe width="560" height="315" style="position:relative; top:0px; width:90vh; height:50vh;" src="${block.data.embed}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div><br>`;
            break;
          case "paragraph":
            convertedHtml += `<p>${block.data.text}</p>`;
            break;
          case "delimiter":
            convertedHtml += "<hr />";
            break;
          case "image":
            imgstyle = "";
            if (block.data.withBackground) imgstyle += "cdx-simple-image__picture--with-background";
            if (block.data.withBorder) imgstyle += " cdx-simple-image__picture--with-border";
            //imghtml = `<img class="img-fluid" src="${block.data.url}" title="${block.data.caption}" /><br /><em>${block.data.caption}</em>`;
            imghtml = `<img class="img-fluid" src="${block.data.file.url}" title="${block.data.caption}" /><br /><em>${block.data.caption}</em><br>`;
            imghtml = `<div class="row justify-content-center"><div class="cdx-simple-image__picture ${imgstyle}">${imghtml}</div></div><br>`;
            convertedHtml += imghtml;
            break;
          case "list":
            convertedHtml += "<ul>";
            block.data.items.forEach(function(li) {
              convertedHtml += `<li>${li}</li>`;
            });
            convertedHtml += "</ul>";
            break;
          default:
            console.log("Unknown block type", block.type);
            break;
        }
      });
      return convertedHtml;
    }

function addEditor() {
	EDITOR.save().then((outputData) => {
		PARTS.set(ACTUAL_PART, outputData);
		editorAdder(convertDataToHtml(outputData.blocks));
	 }).catch((error) => {console.log('Save failed: ', error)});
}

function delEditor() {
	if (ORDER.length === 1){return;}
	lastElem = ORDER.pop();
	PARTS.delete(lastElem);
	if (ACTUAL_PART === lastElem) {EDITOR.destroy(); editorSwitcher(`${ORDER[0]}`);}
	
	var editorBlock = document.getElementById(`${lastElem}`);
	editorBlock.parentNode.removeChild(editorBlock);
	
}

function editorToHTML(dataToConvert){
	// clear and convert current
	EDITOR.destroy();
	el = document.getElementById(ACTUAL_PART);
	el.innerHTML = `<div class="col-12 m-3 p-3">${dataToConvert}</div>`;
}


function editorAdder(dataToConvert) {
	editorToHTML(dataToConvert);
	
	// create new part
	newPartName = `part${PARTS.size}`;
	editors = document.getElementById("editors");
	editors.innerHTML += `<div id="${newPartName}" class="row bg-light p-5 mb-1"><div id="editorjs" class="col-12 m-1"></div></div>`;

	EDITOR = getEdjs("", false);

	for (let eachPart of PARTS.keys()) {document.getElementById(eachPart).addEventListener('click', function (e) {switchEditor(this);}, { once: true });}

	ACTUAL_PART = newPartName;
    ORDER.push(newPartName);
}

function removeAllListeners(id) {
	var old_element = document.getElementById(id);
	var new_element = old_element.cloneNode(true);
	old_element.parentNode.replaceChild(new_element, old_element);
}

function editorSwitcher(id) {
	item = document.getElementById(id);
	item.innerHTML = '<div id="editorjs" class="col-12 m-2 p-2"></div>';

	for (let eachPart of PARTS.keys()) { removeAllListeners(eachPart); }

	EDITOR = getEdjs(PARTS.get(item.id), false);

	for (let eachPart of PARTS.keys()) {
	 if (eachPart!=item.id) {
	 	document.getElementById(eachPart).addEventListener('click', function (e) {switchEditor(this);}, { once: true });
	 }
	}
	ACTUAL_PART = item.id;
}

function switchEditor(item) {
	EDITOR.save().then((outputData) => {
		PARTS.set(ACTUAL_PART, outputData);
		editorToHTML(convertDataToHtml(outputData.blocks));
		editorSwitcher(item.id);
	 }).catch((error) => {console.log('Save failed: ', error)});
}

function getEdjs(data, readonly) {
  return new EditorJS({
  tools: {
    header: {
      class: Header,
      inlineToolbar : true,
      config: {
        placeholder: 'Введите заголовок',
        levels: [2, 3, 4],
        defaultLevel: 3
      },
    },
    //image: SimpleImage,
    image: {
      class: ImageTool,
      config: {
        endpoints: {
          byFile: '/editor/uploadFile', // Your backend file uploader endpoint 
          //byUrl: 'http://localhost:8008/fetchUrl', // Your endpoint that provides uploading by Url
        },
        additionalRequestHeaders: {"X-CSRFToken": '{{ csrf_token }}'},
      }
    },

    linkTool: {
      class: LinkTool,
      inlineToolbar : true,
      config: {
        endpoint: 'http://localhost:8008/fetchUrl', // Your backend endpoint for url data fetching
      }
    },
    list: {
      class: List,
      inlineToolbar: true,
    },
    embed: {
      class: Embed,
      inlineToolbar: true,
    },
    marker: {
      class:  Marker,
      shortcut: 'CMD+SHIFT+M'
    },
    code: {
      class:  CodeTool,
      shortcut: 'CMD+SHIFT+C'
    },
    inlineCode: {
      class: InlineCode,
      shortcut: 'CMD+SHIFT+C'
    },
  },

  readOnly: readonly,
  minHeight: 5,

  data: data
});

}

function renderNews(){
	let formData = new FormData();
	var HTMLS = new Array();
	EDITOR.save().then((outputData) => {
		PARTS.set(ACTUAL_PART, outputData);
		PARTS.forEach(function(value, key) {
			HTMLS.push(convertDataToHtml(value.blocks));
		});
		if (validArtUpdClick()){
			formData.append("artUpdates", JSON.stringify(document.getElementById(`artTitle`).value.trim()));
		}
		formData.append("parts", JSON.stringify(Array.from(PARTS.values())));
		formData.append("sliders", JSON.stringify(Array.from(SLIDERS_INSERTED.entries())));
		formData.append("htmls", JSON.stringify(HTMLS));
		fetch("", {method: "POST", headers:{"X-CSRFToken": '{{ csrf_token }}'}, body: formData}).then((response) => {return response.json();}).then((data) => {
    location.replace(data['url']);});
	 }).catch((error) => {console.log('Save failed: ', error)});
}

function dropArticle(){
	let formData = new FormData();
	formData.append("dropArticle", true);
	fetch("", {method: "POST", headers:{"X-CSRFToken": '{{ csrf_token }}'}, body: formData}).then(() => { location.replace(`/editor`);});
}


</script>


</body>
</html>
