{% extends "baseCloapStyles.html" %}
{% block baseTitle %}Редактор | Иконка{% endblock baseTitle %}
{% block baseHeads %}

	<link rel="icon" type="image/png" href="/images/redlines-logo.jpg"/>
	<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style type="text/css">
	body {
        background-image: url(/images/icon-make-background.jpg);
        -moz-background-size: cover 100%; /* Firefox 3.6+ */
        -webkit-background-size: cover auto 100%; /*Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: cover auto 100%; /* Opera 9.6+ */
        background-size: cover ; /* 100% Современные браузеры */
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;/* center center fixed */
        background-position: center center;
        z-index: -1;
	}
    </style>

{% endblock baseHeads %}


{% block baseBody %}

    <hr>
    <div class="container-fluid p-0" >
	    <nav aria-label="breadcrumb" >
	        <ol class="breadcrumb" style="background: rgba(247,247,247,0.3);">
                <li class="breadcrumb-item"><a href="/editor" class="link-info" style="color: black; font-size: 16px;">Статьи</a></li>
	  		    <li class="breadcrumb-item"><a href="{{ article.get_edit_url }}" class="link-info" style="color: black; font-size: 16px;">{{article.title}}</a></li>
	    	    <li class="breadcrumb-item active" aria-current="page"  style="color: black; font-size: 16px;">Иконки</li>
	        </ol>
	    </nav>


        <div class="row justify-content-center">
		<div class="col-8 p-0" ><!-- LEFT COLUMN and CENTRAL COLUMN -->
            <div class="row justify-content-center p-3" style="background: rgba(247,247,247,0.3);">
                <h4>В разделе: Главные новости</h4>
            </div>
            <div class="row mx-0 p-0 justify-content-center">
                <section class="section first-section" style="background: rgba(247,247,247,0.0);">
                    <div class="left-side">
                        <input type="file" id="freshLg" class="inputfile" onchange="updFile(this, 'fresh_lg')" style="width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;" />
                        <div class="masonry-box post-media" onclick="changeFile('freshLg')">
                            {% if article.icon.fresh_lg %}
                                <img src="{{ article.icon.fresh_lg.url }}" alt="{{article.icon.label}}" class="img-fluid">
                            {% else %}
                                <img src="/static/cloap/upload/blog_masonry_05.jpg" alt="{{article.icon.label}}" class="img-fluid">
                            {% endif %}
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-aqua"><a href="#">{{article.rubric.title}}</a></span>
                                        <h4 class="text-white">{{article.icon.label}}</h4>
                                        <small class="text-white">{{article.print_time_updated}}</small>
                                        <small class="text-white">{{article.author}}</small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end left-side -->

                    <div class="center-side">
                        <input type="file" id="freshMed" class="inputfile" onchange="updFile(this, 'fresh_med')" style="width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;" />
                        <div class="masonry-box post-media" onclick="changeFile('freshMed')">
                            {% if article.icon.fresh_med %}
                                <img src="{{ article.icon.fresh_med.url }}" alt="{{article.icon.label}}" class="img-fluid">
                            {% else %}
                                <img src="/static/cloap/upload/blog_masonry_02.jpg" alt="{{article.icon.label}}" class="img-fluid">
                            {% endif %}
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-red"><a href="#">{{article.rubric.title}}</a></span>
                                        <h4 class="text-white">{{article.icon.label}}</h4>
                                        <small class="text-white">{{article.print_time_updated}}</small>
                                        <small class="text-white">{{article.author.fname}} {{article.author.lname}}</small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->

                        <input type="file" id="freshSm" class="inputfile" onchange="updFile(this, 'fresh_sm')" style="width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;" />
                        <div class="masonry-box small-box post-media" onclick="changeFile('freshSm')">
                            {% if article.icon.fresh_sm %}
                                <img src="{{ article.icon.fresh_sm.url }}" alt="{{article.icon.label}}" class="img-fluid">
                            {% else %}
                                <img src="/static/cloap/upload/blog_masonry_03.jpg" alt="{{article.icon.label}}" class="img-fluid">
                            {% endif %}
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-grey"><a href="#">{{article.rubric.title}}</a></span>
                                        <h4 class="text-white">{{article.icon.label}}</h4>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end masonry -->
                </section>
            </div>

            <div class="row justify-content-center mt-5 mb-0 p-3" style="background: rgba(247,247,247,0.3);">
                    <h4>В разделе: Читаемые новости</h4>
            </div>

            <div class="row mt-0 mx-0 p-0 justify-content-center">
                <section class="section" style="background: rgba(247,247,247,0.0);">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="file" id="hotHz" class="inputfile" onchange="updFile(this, 'hot_hz')" style="width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;" />
                                        <div class="blog-box" onclick="changeFile('hotHz')">
                                            <div class="post-media">
                                                {% if article.icon.hot_hz %}
                                                    <img src="{{article.icon.hot_hz.url}}" alt="{{article.icon.label}}" class="img-fluid">
                                                {% else %}
                                                    <img src="/static/cloap/upload/blog_05.jpg" alt="{{article.icon.label}}" class="img-fluid">
                                                {% endif %}
                                                <div class="hovereffect"></div><!-- end hover -->
                                            </div><!-- end media -->
                                            <div class="blog-meta big-meta">
                                                <h4>{{article.icon.label}}</h4>
                                                <p>{{article.icon.short}}</p>
                                                <small>{{article.rubric.title}}</small>
                                                <small>{{article.print_time_updated}}</small>
                                                <small>{{article.author}}</small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->

                                        <hr class="invis">
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end col -->

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">

                                    </div><!-- end col -->

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <input type="file" id="hotVert" class="inputfile" onchange="updFile(this, 'hot_vert')" style="width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;" />
                                        <div class="blog-box" onclick="changeFile('hotVert')">
                                            <div class="post-media">
                                                {% if article.icon.hot_vert %}
                                                    <img src="{{ article.icon.hot_vert.url }}" alt="{{article.icon.label}}" class="img-fluid">
                                                {% else %}
                                                    <img src="/static/cloap/upload/blog_04.jpg" alt="{{article.icon.label}}" class="img-fluid">
                                                {% endif %}
                                                <div class="hovereffect"></div><!-- end hover -->
                                            </div><!-- end media -->
                                            <div class="blog-meta">
                                                <h4>{{article.icon.label}}</h4>
                                                <small>{{article.rubric.title}}</small>
                                                <small>{{article.print_time_updated}}</small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                        <hr class="invis">
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end col -->
                        </div><!-- end row -->

                        <hr class="invis1">

                        <div class="row justify-content-center mt-3 mb-0 p-3" style="background: rgba(247,247,247,0.3);">
                            <h4>В разделе: Остальные новости</h4>
                        </div>

                        <div class="row" style="background: rgba(247,247,247,0.3);">
                            <div class="col-lg-9">
                                <div class="blog-list clearfix">
                                    <div class="blog-box row">
                                        <div class="col-md-4">
                                            <input type="file" id="newLeft" class="inputfile" onchange="updFile(this, 'new_left')" style="width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;" />
                                            <div class="post-media" onclick="changeFile('newLeft')">
                                                {% if article.icon.new_left %}
                                                    <img src="{{ article.icon.new_left.url }}" alt="{{article.icon.label}}" class="img-fluid">
                                                {% else %}
                                                    <img src="/static/cloap/upload/blog_square_17.jpg" alt="{{article.icon.label}}" class="img-fluid">
                                                {% endif %}
                                                <div class="hovereffect"></div>
                                            </div><!-- end media -->
                                        </div><!-- end col -->

                                        <div class="blog-meta big-meta col-md-8">
                                            <h4>{{article.icon.label}}</h4>
                                            <p>{{article.icon.short}}</p>
                                            <small>{{article.rubric.title}}</small>
                                            <small>{{article.print_time_updated}}</small>
                                            <small>{{article.author}}</small>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                    <hr class="invis">
                                 </div><!-- end blog-list -->
                            </div><!-- end col -->

                            <div class="col-lg-3">
                                <div class="blog-box">
                                    <input type="file" id="newRight" class="inputfile" onchange="updFile(this, 'new_right')" style="width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;" />
                                    <div class="post-media" onclick="changeFile('newRight')">
                                        {% if article.icon.new_right %}
                                            <img src="{{ article.icon.new_right.url }}" alt="{{article.icon.label}}" class="img-fluid">
                                        {% else %}
                                            <img src="/static/cloap/upload/menu_26.jpg" alt="{{article.icon.label}}" class="img-fluid">
                                        {% endif %}
                                        <div class="hovereffect"></div><!-- end hover -->
                                    </div><!-- end media -->
                                    <div class="blog-meta">
                                        <h4>{{article.icon.label}}</h4>
                                        <small>{{article.print_time_updated}}</small>
                                        <small>{{article.author}}</small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">
                            </div><!-- end col -->
                        </div><!-- end row -->

                        <hr class="invis1">
                    </div><!-- end container -->
                </section>
            </div>
        </div>


		<div class="col-3" style="background: rgba(247,247,247,0.1);"><!-- RIGHT COLUMN -->
		    <div class="row justify-content-center">
			    <form class="row" method="POST" enctype="multipart/form-data" novalidate >
			        {% csrf_token %}
				    <div class="card border rounded border-white shadow" style="width: 14rem;">
				        <input type="file" name="file" id="slFile" onchange="addFile(this)" class="inputfile" style="width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;" />
				        <label id="loadShort" class="btn border btn-light" for="slFile" style="height: 6rem;"><p class="text-start mt-4">Клик - обновить для всех</p></label>
                        <div class="card-body">
                            <button id="loadBtn" class="btn btn-success btn-block border mt-2" type="submit" disabled>Применить</button>
                        </div>
                    </div>
			    </form>
		    </div>

            <div class="row justify-content-center p-5">
                <form class="row" method="POST" enctype="application/x-www-form-urlencoded" novalidate >
            	    {% csrf_token %}
                    <div class="row mx-0 p-0 justify-content-left">
			            <textarea class="form-control my-1" name="short" placeholder="Подпись" rows="5">{{article.icon.short}}</textarea>
                        <button id="loadBtn" class="btn btn-success btn-block border mt-2" type="submit">Обновить</button>
                    </div>
                </form>
            </div>
		</div><!-- END RIGHT COLUMN -->
        </div>

</div>


<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="text/javascript">

function addFile(item) {
	var fname = item.value.replace(/.*[\/\\]/, '');
	el = document.getElementById("loadShort").outerHTML = `<label id="loadShort" class="btn border btn-success" for="file" style="height: 6rem;"><p class="text-start mt-4">${fname}</p></label>`;
	var loadBtn = document.getElementById("loadBtn").disabled = false;
}

function changeFile(image_type){
	var elem = document.getElementById(`${image_type}`);
	if(elem && document.createEvent) {
      var evt = document.createEvent("MouseEvents");
      evt.initEvent("click", true, false);
      elem.dispatchEvent(evt);
   }
}

function updFile(item, image_type){
   let formData = new FormData();
   formData.append("image", item.files[0]);
   formData.append("image_type", image_type);
   fetch("", {method: "POST", headers:{"X-CSRFToken": '{{ csrf_token }}'}, body: formData}).then(() => location.replace(document.URL));
}


</script>

{% endblock baseBody %}
