{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Выбрать статью</title>
	<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">


<style type="text/css">
	body {
        /*font-family: 'PT Serif', serif;*/
        /*background-color: rgb(209,203,193);*/
        background-image: url(/images/redlines.jpg);
      }
    .redlines {
    	background: rgba(247, 247, 247, 0.97);
    }
	.shadowerwhite:before {
    content: '';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 40%,rgba(0,0,0,0.7 ) 100%);
    z-index: 1;
    /*border-radius: 10px;*/
}
	.shadowerwhite.special:before {
    content: '';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(200,200,200,0) 0%,rgba(200,200,200,1 ) 100%);
    z-index: 1;

}
	.shadowerblack:before {
    content: '';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 40%,rgba(0,0,0,0.7 ) 100%);
    z-index: 1;
    /*border-radius: 10px;*/
}
	.shadowerblack.special:before {
    content: '';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1 ) 100%);
    z-index: 1;

}
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  .short-text-responsive {font-size:.3rem;} /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .short-text-responsive {font-size:.4rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .short-text-responsive {font-size:0.8rem;} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .short-text-responsive {font-size:1.0rem;} /*1rem = 16px*/    
}
#newsfeed {
  border-radius: 5px;
  /*background: #FFFFFF;*/
  padding: 20px;
  width: 400px;
  height: 800px;
}


</style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
  
  <img src="/images/redlines-logo.jpg" class="ml-2" width="90" height="90" loading="lazy">
  <a class="navbar-brand text-danger ml-3" href="/"><h2>RED8LINES</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Подписаться <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Обратная связь</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mr-5">
    	
    	<li class="nav-item">
        	<a class="nav-link" href="/editor"><img src="/images/enter-icon.png" class="mr-1" width="40" height="40" alt="" loading="lazy"><b>Вход</b></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search"  aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Найти</button>
    </form>
  </div>
</nav>




	<hr>
<div class="container-fluid h-100">



<div class="row justify-content-center h-100">

	<div class="col-2 mt-5" >

			<ul  class="nav flex-column mx-0" style="position: fixed; opacity: 1">
			  <li class="nav-item p-0 ">
			  	<div class="row text-center pl-3 redlines" style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
			  		<img src="/images/archaeology_EgKVrdI.jpg" width="40" height="40" loading="lazy" style="border-radius: 40px;">
		  			<a class="nav-link text-secondary active" href="#"><h6>Археология</h6></a> 	
			    </div>
			  </li>
			  <li class="nav-item p-0 ">
			  	<div class="row text-center pl-3 redlines">
			  		<img src="/images/astronomy_uAL4kG9.jpg" width="40" height="40" loading="lazy" style="border-radius: 40px;">
		  			<a class="nav-link text-secondary active" href="#"><h6>Астрономия</h6></a> 	
			    </div>
			  </li>
			  <li class="nav-item p-0 ">
			  	<div class="row text-center pl-3 redlines">
			  		<img src="/images/biology_e3dZxoS.jpg" width="40" height="40" loading="lazy" style="border-radius: 40px;">
		  			<a class="nav-link text-secondary active" href="#"><h6>Биология</h6></a> 	
			    </div>
			  </li>
			  <li class="nav-item p-0 ">
			  	<div class="row text-center pl-3 redlines">
			  		<img src="/images/genetics_wlevywr.jpg" width="40" height="40" loading="lazy" style="border-radius: 40px;">
		  			<a class="nav-link text-secondary active" href="#"><h6>Генетика</h6></a> 	
			    </div>
			  </li>
			  <li class="nav-item p-0 ">
			  	<div class="row text-center pl-3 redlines" >
			  		<img src="/images/geography_w32pTnx.jpg" width="40" height="40" loading="lazy" style="border-radius: 40px;">
		  			<a class="nav-link text-secondary active" href="#"><h6>География</h6></a> 	
			    </div>
			  </li>
			  <li class="nav-item p-0 ">
			  	<div class="row text-left pl-3 redlines">
			  		<img src="/images/infotech_Ic0LBUE.jpg" width="40" height="40" loading="lazy" style="border-radius: 40px;">
		  			<a class="nav-link text-secondary active" href="#"><h6>Информационные<br> технологии</h6></a> 	
			    </div>
			  </li>
			  <li class="nav-item p-0 ">
			  	<div class="row text-center pl-3 redlines">
			  		<img src="/images/history_T8zeBBT.jpg" width="40" height="40" loading="lazy" style="border-radius: 40px;">
		  			<a class="nav-link text-secondary active" href="#"><h6>История</h6></a> 	
			    </div>
			  </li>
			  <li class="nav-item p-0 ">
			  	<div class="row text-center pl-3 redlines" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
			  		<img src="/images/math_xm8o7FI.jpg" width="40" height="40" loading="lazy" style="border-radius: 40px;">
		  			<a class="nav-link text-secondary active" href="#"><h6>Математика</h6></a> 	
			    </div>
			  </li>
			</ul>
	</div>

	<div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 col-xxl-7 p-0 justify-content-center h-100" >
	<!-- CENTRAL COLUMN <div class="col-5 p-0 m-0 bg-dark" style="overflow: hidden;"></div><div class="col-7 p-0 m-0 h-100" ></div><div class="d-flex flex-row" style="overflow: hidden;">		</div>-->
	<div class="container-fluid">
		<br>


		{% for art in artlist %}
		<!--main new-->
		<div class="row row-cols-2 justify-content-center p-0 m-0" >		
			<div class="card text-white bg-white border-0 m-0 p-0" style="overflow: hidden;">
  				<img class="img-fluid rounded " src="{{art.2.icon.img.url}}">

  				<a href="/news/{{art.2.trans_title}}" class="card-link stretched-link shadowerwhite"></a>
			</div>		
			<div class="card text-black shadowerwhite border-0 m-0 bg-light p-0" style="overflow: hidden;">
  				<img class="card-img" src="{{art.2.icon.img.url}}" style="opacity: 0;">
  				<div class="card-img-overlay d-flex flex-column justify-content-center">
  					<h3 class="card-title " >{{art.2.title}}</h3>
    				<p class="card-text">Рисунок был обнаружен на острове Сулавеси в 2017 году в пещере Leang Tedongnge, расположенной примерно в часе ходьбы от ближайшей дороги. Доступ к ней возможен только в сухой сезон из-за наводнений, происходящих во время сезона дождей. Местные жители рассказали учёным, что раньше это изображение никогда не видели "жители Запада".{{art.2.icon.descr}}</p>
    				<p class="card-text"><small>{{art.2.updated}}</small></p>
    				<a href="/news/{{art.2.trans_title}}" class="card-link stretched-link"></a>
  				</div>
			</div>
		</div>

		{% endfor %}
		<hr>
		<!--small new-->
		<div class="row row-cols-4 justify-content-between p-0 m-0" >
		{% for art in artlist %}
		
			<div class="card border-0 bg-light" style="overflow: hidden; max-height: 350px;">
			  <img src="{{art.1.icon.img.url}}" class="card-img-top" alt="...">
			  <div class="card-body">
			  	<a href="/news/{{art.1.trans_title}}" class="card-link stretched-link"></a>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the</p>
			  </div>
			</div>
			<div class="card border-0 bg-light" style="overflow: hidden; max-height: 350px;">
			  <img src="{{art.2.icon.img.url}}" class="card-img-top" alt="...">
			  <div class="card-body">
			    <a href="/news/{{art.2.trans_title}}" class="card-link stretched-link"></a>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the</p>
			  </div>
			</div>
			<div class="card border-0 bg-light" style="overflow: hidden; max-height: 350px;">
			  <img src="{{art.3.icon.img.url}}" class="card-img-top" alt="...">
			  <div class="card-body">
			  	<a href="/news/{{art.3.trans_title}}" class="card-link stretched-link"></a>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the</p>
			  </div>
			</div>
			<div class="card border-0 bg-light" style="overflow: hidden; max-height: 350px;">
			  <img src="{{art.4.icon.img.url}}" class="card-img-top" alt="...">
			  <div class="card-body ">
			  	<a href="/news/{{art.4.trans_title}}" class="card-link stretched-link"></a>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the</p>
			  </div>
			</div>
		
		{% endfor %}
		</div>

		<br><hr>

		<!--triple -->
			<div class="row row-cols-3 justify-content-between p-0 m-0 g-2" >
			{% for art in artlist %}
			<div class="col-4 bg-light m-0 px-2">
			<div class="card bg-dark shadowerwhite p-0 m-0 border-0 " style="overflow: hidden;">
  				<img class="card-img" src="{{art.0.icon.img.url}}"  >
  				<div class="card-img-overlay  d-flex flex-column justify-content-end">    				
    				<a href="/news/{{art.0.trans_title}}" class="card-link stretched-link"></a>
  				</div>
			</div>
			<div class="card bg-dark text-white shadowerblack p-0 m-0 border-0" style="overflow: hidden;">
  				<img class="card-img" src="{{art.1.icon.img.url}}" style="opacity: 0">
  				<div class="card-img-overlay d-flex flex-column justify-content-center">
  					<h5 class="card-title" >{{art.0.title}}</h5>
    				<p class="card-text" ><small>{{art.0.updated}}</small></p>
    				<a href="/news/{{art.0.trans_title}}" class="card-link stretched-link"></a>
  				</div>
			</div>
			</div>

			<div class="col-4 bg-light m-0 px-2">
			<div class="card bg-light text-dark shadowerblack m-0 m-0 border-0" style="overflow: hidden;">
  				<img class="card-img" src="{{art.3.icon.img.url}}"  style="opacity: 0">
  				<div class="card-img-overlay d-flex flex-column justify-content-center">
  					<h5 class="card-title" >{{art.3.title}}</h5>
    				<p class="card-text" ><small>{{art.3.updated}}</small></p>
    				<a href="/news/{{art.3.trans_title}}" class="card-link stretched-link"></a>
  				</div>
			</div>
			<div class="card bg-dark shadowerblack m-0 m-0 border-0" style="overflow: hidden;">
  				<img class="card-img" src="{{art.3.icon.img.url}}" >
  				<div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
    				<a href="/news/{{art.3.trans_title}}" class="card-link stretched-link"></a>
  				</div>
			</div>
			</div>

			<div class="col-4 bg-light m-0 px-2">
			<div class="card bg-dark shadowerblack m-0 m-0 border-0" style="overflow: hidden;">
  				<img class="card-img" src="{{art.5.icon.img.url}}"  >
  				<div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
    				<a href="/news/{{art.5.trans_title}}" class="card-link stretched-link"></a>
  				</div>
			</div>
			<div class="card bg-dark text-white shadowerwhite m-0 m-0 border-0" style="overflow: hidden;">
  				<img class="card-img" src="{{art.5.icon.img.url}}" style="opacity: 0">
  				<div class="card-img-overlay h-100 d-flex flex-column justify-content-center">
  					<h5 class="card-title" >{{art.5.title}}</h5>
    				<p class="card-text" ><small>{{art.5.updated}}</small></p>
    				<a href="/news/{{art.5.trans_title}}" class="card-link stretched-link"></a>
  				</div>
			</div>
			</div>
			{% endfor %}
		</div>
	<hr>




	</div>


</div>

<!--RIGHTCOL <div id="newsfeed" class="col-12 bg-light" style="opacity: 0.9;"></div>-->
	<div class="col-2 mt-5" >

			<ul  class="nav flex-column mx-0" style="position: fixed; opacity: 1">
			  <li class="nav-item p-0 ">
			  	<div class="row redlines pr-3 justify-content-end" style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
		  			<a class="nav-link text-secondary active" href="#"><h6>Медицина</h6></a>
		  			<img src="/images/medicine_LknAqL8.jpg" width="40" height="40" loading="lazy" style="border-radius: 40px;">
			    </div>
			  </li>
			  <li class="nav-item p-0 " >
			  	<div class="row redlines pr-3 justify-content-end" >
		  			<a class="nav-link text-secondary active" href="#"><h6>Психология</h6></a>
		  			<img src="/images/psycho_o5qCiCD.jpg" width="40" height="40" loading="lazy" style="border-radius: 40px;">
			    </div>
			  </li>
			  <li class="nav-item p-0 ">
			  	<div class="row redlines pr-3 justify-content-end" >
		  			<a class="nav-link text-secondary active" href="#"><h6>Робототехника</h6></a>
		  			<img src="/images/robo_erZg1Ok.jpg" width="40" height="40" loading="lazy" style="border-radius: 40px;">
			    </div>
			  </li>
			  <li class="nav-item p-0 " >
			  	<div class="row redlines pr-3 justify-content-end" >
			  		<a class="nav-link text-secondary active" href="#"><h6>Социология</h6></a> 	
			  		<img src="/images/sociology_7QlvgM2.jpg" width="40" height="40" loading="lazy" style="border-radius: 40px;">
			    </div>
			  </li>
			  <li class="nav-item p-0 " >
			  	<div class="row redlines pr-3 justify-content-end" >
			  		<a class="nav-link text-secondary active" href="#"><h6>Физика</h6></a> 	
			  		<img src="/images/physics_gRXMLjV.jpg" width="40" height="40" loading="lazy" style="border-radius: 40px;">
			    </div>
			  </li>
			  <li class="nav-item p-0 " >
			  	<div class="row redlines pr-3 justify-content-end" >
			  		<a class="nav-link text-secondary active" href="#"><h6>Химия</h6></a> 	
			  		<img src="/images/chemistry_O5ZC08c.jpg" width="40" height="40" loading="lazy" style="border-radius: 40px;">
			    </div>
			  </li>
			  <li class="nav-item p-0 " >
			  	<div class="row redlines pr-3 justify-content-end" >
			  		<a class="nav-link text-secondary active" href="#"><h6>Экология</h6></a> 	
			  		<img src="/images/ecology_3qppdVp.jpg" width="40" height="40" loading="lazy" style="border-radius: 40px;">
			    </div>
			  </li>
			  <li class="nav-item p-0 " >
			  	<div class="row redlines pr-3 justify-content-end" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
			  		<a class="nav-link text-secondary active" href="#"><h6>Экономика</h6></a> 	
			  		<img src="/images/economics_01Rcbbl.jpg" width="40" height="40" loading="lazy" style="border-radius: 40px;">
			    </div>
			  </li>
			</ul>
	</div>


</div>


</div>



<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script>

	$('.shadowerwhite').on('mouseover', function() {    $(this).toggleClass('special'); });
	$('.shadowerwhite').on('mouseout', function() {    $(this).toggleClass('special'); });
	$('.shadowerblack').on('mouseover', function() {    $(this).toggleClass('special'); });
	$('.shadowerblack').on('mouseout', function() {    $(this).toggleClass('special'); });

const RSS_URL = ``;

function rssFetcher(){
	$.ajax(RSS_URL, {
  accepts: {
    xml: "application/rss+xml"
  },

  dataType: "xml",

  success: function(data) {
    $(data)
      .find("item")
      .each(function() {
        const el = $(this);

        const template = `
          <article>
            <img src="${el.find("link").text()}/image/large.png" alt="">
            <h2>
              <a href="${el
                .find("link")
                .text()}" target="_blank" rel="noopener">
                ${el.find("title").text()}
              </a>
            </h2>
          </article>
        `;
        document.getElementById("newsfeed").innerHTML += template;

        //document.body.insertAdjacentHTML("newsfeed", template);
      });
  }
});
}
//rssFetcher();
</script>


</body>
</html>
