{% extends "baseCloap.html" %}

{% block title %} Главная | Redlines  {% endblock title %}

{% block mainContent %}
        <section class="section first-section">
            <div class="container-fluid">
                <div class="masonry-blog clearfix">
                    <div class="left-side">
                        <div class="masonry-box post-media">
                             <img src="{{flist.0.article.icon.fresh_lg.url}}" alt="{{flist.0.article.icon.label}}" class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-aqua"><a href="#" title="{{flist.0.article.rub.first.rubric.title}}">{{flist.0.article.rub.first.rubric.title}}</a></span>
                                        <h4><a href="{{flist.0.article.get_news_url}}" title="{{flist.0.article.icon.label}}">{{flist.0.article.icon.label}}</a></h4>
                                        <small><a href="#" title="">{{flist.0.article.print_time_updated}}</a></small>
                                        <small><a href="#" title="">{{flist.0.article.author.fname}} {{flist.0.article.author.lname}}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end left-side -->

                    <div class="center-side">
                        <div class="masonry-box post-media">
                             <img src="{{flist.1.article.icon.fresh_med.url}}" alt="{{flist.1.article.icon.label}}" class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-red"><a href="#" title="{{flist.1.article.rub.first.rubric.title}}">{{flist.1.article.rub.first.rubric.title}}</a></span>
                                        <h4><a href="{{flist.1.article.get_news_url}}" title="{{flist.1.article.icon.label}}">{{flist.1.article.icon.label}}</a></h4>
                                        <small><a href="#" title="">{{flist.1.article.print_time_updated}}</a></small>
                                        <small><a href="#" title="">{{flist.1.article.author.fname}} {{flist.1.article.author.lname}}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->

                        <div class="masonry-box small-box post-media">
                             <img src="{{flist.2.article.icon.fresh_sm.url}}" alt="{{flist.2.article.icon.label}}" class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-grey"><a href="#" title="{{flist.2.article.rub.first.rubric.title}}">{{flist.2.article.rub.first.rubric.title}}</a></span>
                                        <h4><a href="{{flist.2.article.get_news_url}}" title="">{{flist.2.article.icon.label}}</a></h4>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->

                        <div class="masonry-box small-box post-media">
                             <img src="{{flist.3.article.icon.fresh_sm.url}}" alt="{{flist.3.article.icon.label}}" class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-green"><a href="#" title="{{flist.3.article.rub.first.rubric.title}}">{{flist.3.article.rub.first.rubric.title}}</a></span>
                                        <h4><a href="{{flist.3.article.get_news_url}}" title="{{flist.3.article.icon.label}}">{{flist.3.article.icon.label}}</a></h4>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end left-side -->

                    <div class="right-side hidden-md-down">
                        <div class="masonry-box post-media">
                             <img src="{{flist.4.article.icon.fresh_lg.url}}" alt="{{flist.4.article.icon.label}}" class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-aqua"><a href="#" title="{{flist.4.article.rub.first.rubric.title}}">{{flist.4.article.rub.first.rubric.title}}</a></span>
                                        <h4><a href="{{flist.4.article.get_news_url}}" title="{{flist.4.article.icon.label}}">{{flist.4.article.icon.label}}</a></h4>
                                        <small><a href="#" title="">{{flist.4.article.print_time_updated}}</a></small>
                                        <small><a href="#" title="">{{flist.4.article.author.fname}} {{flist.4.article.author.lname}}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                             </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end right-side -->
                </div><!-- end masonry -->
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="{{hlist.0.article.get_news_url}}" title="{{hlist.0.article.icon.label}}">
                                            <img src="{{hlist.0.article.icon.hot_hz.url}}" alt="{{hlist.0.article.icon.label}}" class="img-fluid">
                                            <div class="hovereffect">

                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta big-meta">
                                        <h4><a href="{{hlist.0.article.get_news_url}}" title="">{{hlist.0.article.icon.label}}</a></h4>
                                        <p>{{hlist.0.article.icon.short}}</p>
                                        <small><a href="#" title="">{{hlist.0.article.rub.first.rubric.title}}</a></small>
                                        <small><a href="#" title="">{{hlist.0.article.print_time_updated}}</a></small>
                                        <small><a href="#" title="">{{hlist.0.article.author.fname}} {{hlist.0.article.author.lname}}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="{{hlist.1.article.get_news_url}}" title="{{hlist.1.article.icon.label}}">
                                            <img src="{{hlist.1.article.icon.hot_vert.url}}" alt="{{hlist.1.article.icon.label}}" class="img-fluid">
                                            <div class="hovereffect">

                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta">
                                        <h4><a href="{{hlist.1.article.get_news_url}}" title="">{{hlist.1.article.icon.label}}</a></h4>
                                        <small><a href="#" title="">{{hlist.1.article.rub.first.rubric.title}}</a></small>
                                        <small><a href="#" title="">{{hlist.1.article.print_time_updated}}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">


                            </div><!-- end col -->

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="{{hlist.2.article.get_news_url}}" title="{{hlist.2.article.icon.label}}">
                                            <img src="{{hlist.2.article.icon.hot_vert.url}}" alt="{{hlist.2.article.icon.label}}" class="img-fluid">
                                            <div class="hovereffect">

                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta">
                                        <h4><a href="{{hlist.2.article.get_news_url}}" title="">{{hlist.2.article.icon.label}}</a></h4>
                                        <small><a href="#" title="">{{hlist.2.article.rub.first.rubric.title}}</a></small>
                                        <small><a href="#" title="">{{hlist.2.article.print_time_updated}}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->
                </div><!-- end row -->



                <hr class="invis1">

                {% for pair in nlist %}

                <div class="row">
                    <div class="col-lg-9">
                        <div class="blog-list clearfix">

                            <div class="blog-box row">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="{{pair.0.get_news_url}}" title="">
                                            <img src="{{pair.0.icon.new_left}}" alt="{{pair.0.icon.label}}" class="img-fluid">
                                            <div class="hovereffect"></div>
                                        </a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="blog-meta big-meta col-md-8">
                                    <h4><a href="{{pair.0.get_news_url}}" title="">{{pair.0.icon.label}}</a></h4>
                                    <p>{{pair.0.icon.short}}</p>
                                    <small><a href="#" title="">{{pair.0.rub.first.rubric.title}}</a></small>
                                    <small><a href="#" title="">{{pair.0.print_time_updated}}</a></small>
                                    <small><a href="#" title="">{{pair.0.author.fname}} {{pair.0.author.lname}}</a></small>
                                </div><!-- end meta -->
                            </div><!-- end blog-box -->

                            <hr class="invis">

                        </div><!-- end blog-list -->

                    </div><!-- end col -->

                    <div class="col-lg-3">
                        <div class="blog-box">
                            <div class="post-media">
                                <a href="{{pair.1.get_news_url}}" title="{{pair.1.icon.label}}">
                                    <img src="{{pair.1.icon.new_right}}" alt="{{pair.1.icon.label}}" class="img-fluid">
                                    <div class="hovereffect">
                                    </div><!-- end hover -->
                                </a>
                            </div><!-- end media -->
                            <div class="blog-meta">
                                <h4><a href="{{pair.1.get_news_url}}" title="">{{pair.1.icon.label}}</a></h4>
                                <small><a href="#" title="">{{pair.1.print_time_updated}}</a></small>
                                <small><a href="#" title="">{{pair.1.author.fname}} {{pair.1.author.lname}}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                    </div><!-- end col -->
                </div><!-- end row -->

                {% endfor %}

                <hr class="invis1">
            </div><!-- end container -->
        </section>
{% endblock mainContent %}
